/* --- General & Body --- */
:root {
  --font-title: 'Philosopher', sans-serif;
  --font-body: 'Lato', sans-serif;
  --color-background: #0a0a1a;
  --color-text: #e0e0e0;
  --color-gold: #ffc371; /* Updated to the correct luminous gold */
  --color-gold-glow: rgba(255, 195, 113, 0.5);
  --color-dark-gold: #b39700;
  --orbe-size: 300px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--font-body);
  color: var(--color-text);
  min-height: 100vh;
  background-color: var(--color-background);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Special class to make body transparent only for the Ritual Page */
body.ritual-page-active {
  background: transparent;
  animation: none;
}
